<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <!-- <h3 class="masthead-brand">Handyman Service Finder</h3> -->
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/index">Home</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Handyman Service Finder</h1> 
        <p class="lead"><a style="color: #333;" class="btn btn-md btn-secondary btn-secondary-resel" data-toggle="modal"
          data-target="#exampleModal">Reselect Service</a></p>
        
        <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 style="color: #333;" id="exampleModalLabel">Are you sure you want to reselect service</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a href="/index" style="background-color: rgba(194, 55, 55, 0.842);" class="btn btn-primary">Yes</a>
            <!-- <button type="button" class="btn btn-primary">Yes</button> -->
          </div>
        </div>
      </div>
    </div>
        
          <p class="lead">Please enter in your zipcode</p>
        <form action="/zipcode_submission_adv" method="POST">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputZipcode" class="sr-only">zipcode</label>
          <input type="text" class="form-control" name="inputZipcode" id="inputZipcode" placeholder="e.g. 08023">
        </div>
        <p class="lead">Please enter in your Service</p>
        <div class="form-group mx-sm-3 mb-2">
          <label for="advService" class="sr-only">adv_service</label>
          <input type="text" class="form-control" name="advService" id="advService" placeholder="e.g. Plumber, Electrician, etc...">
        </div><br>
        <button class="btn btn-lg btn-secondary" type="submit">Submit</button>
        <!-- <p class="lead"><a href="#" class="btn btn-lg btn-secondary">Submit</a></p> -->
      </form>
        <!-- <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Plumbing</a>
          <a href="#" class="btn btn-lg btn-secondary">Electrical</a>
          <a href="#" class="btn btn-lg btn-secondary">Painting</a>
        </p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Appliance Repair</a>
          <a href="#" class="btn btn-lg btn-secondary">General Maintenance</a>
          <a href="#" class="btn btn-lg btn-secondary">Furniture Assembly</a>
        </p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Cleaning</a>
          <a href="#" class="btn btn-lg btn-secondary">Moving</a>
        </p>
        <br>
        <p>
          <a href="#" class="btn btn-lg btn-secondary btn-secondary-adv">Advanced</a>
        </p> -->
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap_features.js"></script> 
  </body>
</html>
